<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <h1>Lista de Productos</h1>
        <ul>
            {{#each products}}
            <li>
                <strong>{{this.title}}</strong><br>
                Descripción: {{this.description}}<br>
                Código: {{this.code}}<br>
                Precio: {{this.price}}<br>
                Stock: {{this.stock}}<br>
                {{#if this.thumbnails.[0]}}
                <img src="{{this.thumbnails.[0]}}" alt="Thumbnail">
                {{else}}
                    Sin imagen disponible
                {{/if}}
            </li>
            {{/each}}
        </ul>

</body>
</html>