    <!-- Formulario para la creación de un nuevo producto -->
    <form id="productForm">
        <h2>Complete los campos para ingresar un nuevo producto</h2>
        <input type="text" name="title" placeholder="Título" required>
        <input type="text" name="description" placeholder="Descripción" required>
        <input type="text" name="code" placeholder="Código" required>
        <input type="number" name="price" placeholder="Precio" required>
        <input type="number" name="stock" placeholder="Stock" required>
        <input type="text" name="category" placeholder="Categoría" required>
        <button type="submit">Crear Producto</button>
    </form>

    <div class="button-container">
        <a href="/products" class="btn-product-list">Ver lista publicada de productos para usuarios</a>
    </div>

    <h2> Lista de productos en tiempo real para administrar </h2>
    <ul id="productList">
        {{#each products}}
            <li>
                <h3>{{this.title}}</h3>
                <hr>
                <p>Categoria: {{this.category}}</p>
                <p>Descripción: {{this.description}}</p>
                <p>Precio: $ {{this.price}}</p>
                <button id="button-delete" onclick="deleteProduct({{this.id}})">Eliminar</button>
            </li>
        {{/each}}
    </ul>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/productAdmin.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
