<h1>Tickets</h1>
<ul>
    {{#each tickets}}
    <li><b>Ticket ID</b>{{this._id}} <br><b>Creado a las:</b>{{purchase_datetime}} <br><b>Código</b>{{this.code}} <br><b>Monto</b>{{this.amount}} <br><b>Email cliente</b>{{this.purchaser}}</li>
    {{/each}}
</ul>